<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>edu.indiana.music.transfer</string>
	<key>LowPriorityIO</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>DRA_HOME</key>
        <string>/Users/awead/Projects/Audio</string>
    </dict>
	<key>ProgramArguments</key>
	<array>
        <string>/Users/awead/Projects/Audio/bin/dra-notify</string>
        <string>-name</string>
        <string>Transfer</string>
        <string>bin/dra-run</string>
	</array>
	<key>ServiceDescription</key>
	<string>Transfers all recordings to Variations and MDSS</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>9</integer>
		<key>Minute</key>
		<integer>5</integer>
	</dict>
</dict>
</plist>
